@using Microsoft.AspNetCore.Identity
@model DisplayNotificationsViewModel
@inject UserManager<BTUser> UserManager

@{
    ViewData["Title"] = "Index";
    BTUser user = await UserManager.GetUserAsync(User);
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-12">
        <h2 class="text-center">Notification Sent</h2>
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SentNotifications.FirstOrDefault().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SentNotifications.FirstOrDefault().Message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SentNotifications.FirstOrDefault().Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SentNotifications.FirstOrDefault().Viewed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SentNotifications.FirstOrDefault().Ticket.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SentNotifications.FirstOrDefault().Recipient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SentNotifications.FirstOrDefault().Sender)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.SentNotifications)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Viewed)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Ticket.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Recipient.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Sender.FullName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 class="text-center">Notification Received</h2>
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReceivedNotifications.FirstOrDefault().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReceivedNotifications.FirstOrDefault().Message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReceivedNotifications.FirstOrDefault().Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReceivedNotifications.FirstOrDefault().Viewed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReceivedNotifications.FirstOrDefault().Ticket.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReceivedNotifications.FirstOrDefault().Recipient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReceivedNotifications.FirstOrDefault().Sender)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.ReceivedNotifications)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Viewed)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Ticket.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Recipient.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Sender.FullName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>